---
import Layout from '../layouts/Layout.astro';

import { getLocale, localeKeys } from 'astro-i18n-aut';
import { useTranslations } from '@simplified/i18n';
import { translationsMap } from '../i18n';

const locale = getLocale(Astro.url)
const { t } = useTranslations(locale, localeKeys, translationsMap)
---

<Layout title={t('about.title')}>
    <h1>{t('about.title')}</h1>
    <p>{t('about.description')}</p>
</Layout>